<form [formGroup]="statsFilterForm" novalidate>
  <div class="form-row row">
    <label [for]="'app-name' + idSuffix" class="col-lg-auto col-form-label label">App name</label>
    <div class="mr-4 p-0 col-lg-2 form-group">
      <select class="form-control" [id]="'app-name' + idSuffix" formControlName="appName" (change)="onAppSelect($event.target.value)" [class.is-invalid]="appIdStore.invalid">
        <option *ngFor="let app of appList | keyvalue" [value]="app.key">{{ app.value.name }}</option>
      </select>
      <div class="invalid-feedback">
        Please select an app.
      </div>
    </div>

    <label [for]="'version' + idSuffix" class="col-lg-auto col-form-label">Version</label>
    <div class="mr-4 p-0 col-lg-2 form-group">
      <select class="form-control" [id]="'version' + idSuffix" formControlName="appVersion" (change)="onFilterChange()" [class.is-invalid]="version.invalid">
        <option *ngFor="let version of selectedApp?.versions">{{ version }}</option>
      </select>
      <div class="invalid-feedback">
        Please select a version.
      </div>
    </div>

    <label [for]="'date-range' + idSuffix" class="col-lg-auto col-form-label">Date Range</label>
    <div class="mr-4 p-0 col-lg-2 form-group">
      <input type="text"
              [id]="'date-range' + idSuffix"
              class="form-control"
              [class.is-invalid]="startDate === undefined || endDate === undefined"
              [bsConfig]="{ containerClass: 'theme-default' }"
              [minDate]="minDate"
              [maxDate]="maxDate"
              (bsValueChange)="onDateChange($event)"
              bsDaterangepicker>
      <div class="invalid-feedback">
        Please select a range.
      </div>
    </div>

    <div class="mr-4 p-0 col-lg-1 form-group"  *ngIf="showCompare">
      <button type="button" class="btn btn-primary" (click)="toggleComparison()">{{ compareText }}</button>
    </div>
  </div>
</form>
