<h1 class="sr-only">Home</h1>

<form class="form-inline flex-nowrap" [formGroup]="statsFilterForm">
  <div class="form-group">
    <label for="app-name" class="mr-2">App name</label>
    <select class="form-control mr-2" id="app-name" formControlName="appName" (change)="onAppSelect($event.target.value)" [class.is-invalid]="appIdStore.invalid">
      <option *ngFor="let app of appList | keyvalue" [value]="app.key">{{ app.value.name }}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="version" class="mr-2">Version</label>
    <select class="form-control mr-2" id="version" formControlName="appVersion" (change)="getAppStats()" [class.is-invalid]="version.invalid">
      <option *ngFor="let version of selectedApp?.versions">{{ version }}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="start-date">Date</label>
    <input type="date" class="form-control mx-2" placeholder="yyyy-mm-dd" id="start-date" formControlName="startDate" [class.is-invalid]="startDate.invalid" (change)="getAppStats()">
    <label for="end-date">to</label>
    <input type="date" class="form-control mx-2" placeholder="yyyy-mm-dd" id="end-date" formControlName="endDate" [class.is-invalid]="endDate.invalid" (change)="getAppStats()">
  </div>

  <div class="form-group">
    <button type="button" class="btn btn-primary">Compare Apps</button>
    <button type="button" class="btn btn-primary ml-2">Add Card</button>
  </div>
</form>

<div class="row my-4 mb-md-0">
    <app-card title="Test Spring Data">
      {{ stat$ | async | json }}
    </app-card>
</div>

<div class="row mb-md-0">
  <app-card title="Overall Sentiment">
      <div class="m-auto" style="width: 500px;">
          <canvas baseChart
                  [data]="pieChartData"
                  [labels]="pieChartLabels"
                  [chartType]="pieChartType"
                  [colors]="pieChartColors"></canvas>
        </div>
  </app-card>
  <app-card title="Top Keywords">
    <div class="row">
      <div class="col">
        <p class="h4">Postive Reviews</p>
        <ol>
            <li>
              Ford
              <p class="small mb-2">80% of positive reviews</p>
            </li>
            <li>
                great
                <p class="small mb-2">40% of positive reviews</p>
            </li>
            <li>
                car
                <p class="small mb-2">38% of positive reviews</p>
            </li>
            <li>
                impressed
                <p class="small mb-2">20% of positive reviews</p>
            </li>
          </ol>
      </div>
      <div class="col">
          <p class="h4">Negative Reviews</p>
          <ol>
              <li>
                Ford
                <p class="small mb-2">70% of negative reviews</p>
              </li>
              <li>
                  error
                  <p class="small mb-2">60% of negative reviews</p>
              </li>
              <li>
                  bug
                  <p class="small mb-2">43% of negative reviews</p>
              </li>
              <li>
                  crash
                  <p class="small mb-2">37% of negative reviews</p>
              </li>
            </ol>
      </div>
    </div>
  </app-card>
</div>

<div class="row">
  <app-card title="Sentiment Over Time">
      <canvas baseChart
      [datasets]="lineChartData"
      [labels]="lineChartLabels"
      [options]="lineChartOptions"
      [chartType]="lineChartType"
      [colors]="lineChartColors"></canvas>
  </app-card>
</div>

