<ng-template #noData>
  <p>No data is available - please select new filter criteria above.</p>
</ng-template>

<h2 class="my-2 h4" *ngIf="totalReviews !== undefined">Sample Size: {{ totalReviews }} reviews</h2>
<div class="row mb-md-0 mt-2">
<app-card title="Overall Sentiment">
    <div class="m-auto" style="width: 500px;" *ngIf="!pieChartIsEmpty(); else noData">
        <canvas baseChart
                [data]="pieChartData"
                [labels]="pieChartLabels"
                [chartType]="pieChartType"
                [colors]="pieChartColors"
                [options]="pieChartOptions"></canvas>
      </div>
</app-card>
<app-card title="Top Keywords">
  <div class="row" style="width: 500px;" *ngIf="positiveKeywords.length !== 0 && negativeKeywords.length !== 0; else noData">
    <div class="col">
      <p class="h4">Postive Reviews</p>
      <ol>
          <li *ngFor="let keyword of positiveKeywords">
            {{ keyword.keyword }}
            <p class="small mb-2">{{ keyword.percentage | number }}% of positive reviews</p>
          </li>
        </ol>
    </div>
    <div class="col">
        <p class="h4">Negative Reviews</p>
        <ol>
            <li *ngFor="let keyword of negativeKeywords">
                {{ keyword.keyword }}
                <p class="small mb-2">{{ keyword.percentage | number }}% of negative reviews</p>
            </li>
          </ol>
    </div>
  </div>
</app-card>
</div>

<div class="row">
<app-card title="Sentiment Over Time">
  <div *ngIf="!lineChartIsEmpty(); else noData">
    <canvas baseChart
    [datasets]="lineChartData"
    [labels]="lineChartLabels"
    [options]="lineChartOptions"
    [chartType]="lineChartType"
    [colors]="lineChartColors"></canvas>
  </div>
</app-card>
</div>

