<form [formGroup]="forgotPasswordForm">
    <div class="form-group">
        <label for="forgotUsername">Username</label>
        <input id="forgotUsernamee" class="form-control col-6" type="text" formControlName="forgotUsername" placeholder="Username" required>
        <div *ngIf="resetErrorMessage" class="text-danger">
          {{ resetErrorMessage }}
        </div>
        <div *ngIf="isValid" class="text-success">
          A verification code has been sent to the email associated with this username.
        </div>
    </div>
  <div class="form-group">
    <button *ngIf="!isValid" class="btn btn-primary" type="button" (click)="onResetPassword(forgotPasswordForm.value)">Reset Password</button>
    
  </div>

  <div class="form-group">
    <label for="verifyCode">Verification Code</label>
    <input id="verifyCode" class="form-control col-6" type="text" formControlName="verifyCode" placeholder="Verification Code">
    <br>
    <label for="newPassword">New Password</label>
    <input id="newPassword" class="form-control col-6" type="password" formControlName="newPassword" placeholder="New Password" autocomplete="new-password">
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="button" (click)="onChangePassword(forgotPasswordForm.value)">Change Password</button>
    <div *ngIf="verifyCodeErrorMessage" class="text-danger">
        {{ verifyCodeErrorMessage }}
    </div>
    <div *ngIf="passwordChanged" class="text-success">
        Your password has been changed.
    </div>
  </div>
</form>
